numpy
scikit-learn
pandas
tqdm
dict_hash # required for caching
transformers
torch
imodelsx
langchain
openai
accelerate

datasets # optional, required for getting NLP datasets
pytest # optional, required for running tests