numpy
scikit-learn
pandas
tqdm
dict_hash # required for caching

datasets # optional, required for getting NLP datasets
imodels # optional, required for getting tabular datasets / interpretable modeling
pytest # optional, required for running tests